<a (click)="showEditBox()" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span></a>
<a *ngIf="this.loggedUser.id !== this.user.id" (click)="deleteUser()" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a>

<div *ngIf="editBoxVisible" id="editBox" class="editBox text-center">
  <form (ngSubmit)="editUser()">
    <input [(ngModel)]="this.user.username" name="username" type="username" id="input" class="form-control" placeholder="Username" required autofocus>
    <input [(ngModel)]="this.user.password" name="password" type="text" id="input" class="form-control" placeholder="Password" required>
    <input [(ngModel)]="this.user.email" name="email" type="email" id="input" class="form-control" placeholder="E-mail" required>
    <p id="inputAdmin">
      <label class="form-check-label">
        <input *ngIf="this.loggedUser.id !== this.user.id" [(ngModel)]="this.user.rights" name="rights" class="form-check-input" type="checkbox">
        Admin
      </label>
    </p>
    <button type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Save changes</button>
  </form>
</div>
<div *ngIf="error" class="alert alert-danger text-center" role="alert">{{error}}</div>