.editBox {
  position: absolute;
  left: -66px;
  top: 34px;
  width: 200px;
  height: 181px;
  padding: 8px;
  background-color: rgba(64, 64, 64, 0.9);
  border-radius: 8px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#input {
  margin-bottom: 2px;
}

#inputAdmin {
  margin-bottom: 0px;
  color: #fff;
  font-size: 1em;
}

.btn {
  margin-top: 0px;
}